.tag:before {
  content: '';
  display: inline-block;
  border-radius: 5px;
  width: 10px;
  height: 10px;
  margin-right: 5px;
}
.positiveWeak:before {
  background: red;
}
.positiveMedium:before {
  background: orange;
}
.positiveStrong:before {
  background: green;
}
.positiveReused:before {
  background: red;
}

.warningCell {
  background: orange;
  color: white;
}

.info-icon {
  margin: 0 10px;
  background-color: black;
  color: white;
  border-radius: 50%;
  display: inline-flex;
  width: 1.2em;
  height: 1.2em;
  justify-content: center;
  align-items: center;
  cursor: help;
}
