.currentConfigHeader {
  display: flex;
  align-items: flex-start;
  margin: 20px 0;
}
.currentConfigHeader div:first-child {
  flex: 1;
}
.currentConfigHeader h2 {
  margin: 0;
}

.shamirPendingNewConfig {
  border-radius: 16px;
  border: 1px solid rgba(46, 56, 98, 0.10);
  background: #FFF;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.shamirPendingFirstCol {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.shamirPendingTag {
  display: inline-flex;
  padding: 4px 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: #C6D5FF;
  color: #2E3862;
  font-size: 14px;
  font-weight: 600;
  line-height: 150%;
  text-transform: uppercase;
  margin-bottom: 10px;
}
