.titleWithIcon {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin-top: 40px;
}

.twoCol {
  display: flex;
  align-items: start;
  justify-content: flex-start;
  gap: 50px;
}

.shamirTable th:nth-child(2) {
  min-width: 250px;
}
.shamirTable th:nth-child(3) {
  min-width: 250px;
}

.shamir-warning {
  display: inline-block;
  width: 600px;
  max-width: 100%;
  margin-top: 0.5rem;
  font-size: 14px;
  line-height: 150%;
}
.shamir-warning::before{
  content: "";
  height: 5px;
  border-radius: 5px;
  display: block;
  margin-bottom: 2px;
}

.shamir-warning.forbidden::before  {
  background-color: #9B2C2C;
}
.shamir-warning.danger::before  {
  background-color: #E53E3E;
}
.shamir-warning.warning::before  {
  background-color: #DD6B20;
}
.shamir-warning.good::before  {
  background-color: #38B2AC;
}
.shamir-warning.verygood::before  {
  background-color: #38B2AC;
}
.shamir-warning.heavy::before  {
  background-color: #DD6B20;
}

.shareholderSearch {
  margin-bottom: 20px;
}
.contactEmailInput {
  outline: none;
  border: 1px solid rgba(46, 56, 98, 0.10);
  border-radius: 4px;
  padding: 8px 16px;
  width: 300px;
}
.contactEmailInput:focus {
  outline: none;
  border-color: #403EDD;
}

.shamirSummary:not(.shamirSummaryAlt) {
  border-radius: 4px;
  background-color: #F5F5F5;
  padding: 20px 50px;
  margin-bottom: 50px;
}
.shamirSummaryAlt .shamirConfigName {
  font-size: 30px;
  font-weight: 700;
  line-height: 120%;
}

.shamirFormButtons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
}

/* Validation Modal */
.shamirFormValidateButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
}

.shamirFormValidateButtons .whiteButton, .shamirFormValidateButtons .submitButton {
  flex: 1;
  min-width: 0;
}

.shamirValidationWarning {
  display: flex;
  gap: 16px;
  border-radius: 8px;
  border: 1px solid #E53E3E;
  padding: 12px 20px;
  align-items: center;
  justify-content: flex-start;
  background-color: #FFF5F5;
  color: #9F1522;
  margin-bottom: 20px;
}
.shamirValidationWarningIconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: #FED7D7;
}

.shamirChangeWarning {
  display: flex;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid #7EA1FF;
  background: #F1F5FF;
  margin: 20px 0;
}

.infoIconContainer {
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background: #C6D5FF;
}
