.shamirTabs {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
nav.shamirTabsMenu {
  flex-shrink: 0;
  padding: 20px 20px 20px 0;
  border-right: 1px solid #EEE;
  max-width: none;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}

.shamirTabContent {
  flex: 1;
  padding: 0 20px;
}

.shamirTabItem {
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
  text-align: left;
  margin-bottom: 10px;
  border-radius: 8px;
  padding: 8px 16px;
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
}
.shamirTabItem.current {
  background-color: #EDEEF5;
}
.navIcon {
  vertical-align: middle;
  margin-right: 5px;
}

.iconButton {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
}
