.recommendedParam {
  margin: 0 5px;
  color: white;
  background-color: green;
  border-radius: 3px;
  padding: 3px 6px;
  text-transform: uppercase;
}

.unrecommendedParam {
  margin: 0 5px;
  color: white;
  background-color: orange;
  border-radius: 3px;
  padding: 3px 6px;
  text-transform: uppercase;
}
