.lds-ripple {
  --loader-size: 80px;
}
.lds-ripple.lds-ripple-small {
  --loader-size: 30px;
}
.lds-ripple {
  display: inline-block;
  position: relative;
  width: var(--loader-size);
  height: var(--loader-size);
}
.lds-ripple div {
  position: absolute;
  border: 4px solid rgb(44, 83, 132);
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: calc((var(--loader-size) - 6px)/2);
    left: calc((var(--loader-size) - 6px)/2);
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: calc(var(--loader-size) - 6px);
    height: calc(var(--loader-size) - 6px);
    opacity: 0;
  }
}
