/* CSS reset for tables */
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #eee;
}

/* My Style */
td,
th {
  padding: 0.5rem;
  text-align: left;
  color: #555;
  border-collapse: collapse;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}
td {
  border-bottom: 1px solid rgb(0, 171, 169);
}
td.requires_attention {
  background-color: #f6a400;
}

tbody tr:hover:not(.detailContainer) {
  background: #f4f4f4;
}
tbody tr:hover:not(.detailContainer) td {
  color: black;
}

th {
  background-color: rgb(0, 171, 169);
  color: white;
}

/* Details */
.detailContainer {
  background-color: rgb(0, 171, 169, 0.1);
}
table tr.detailContainer table {
  background-color: white;
  border-bottom-width: 1px;
  border-bottom-color: #eee;
}

table tr.detailContainer td,
table tr.detailContainer th {
  border-top-width: 1px;
  border-top-color: #eee;
  padding: 0.2rem 0.5rem;
}

table tr.detailContainer,
table tr.detailContainer > td {
  border-top-color: #eee;
}

/* Editable cell */
td input:not([type='checkbox']) {
  height: 100%;
  border: 0;
  outline: none;
  box-shadow: none;
  border-bottom: 1px solid rgb(0, 171, 169);
  background: none;
  font-size: 16px;
}

/* Table for alignment purposes only */
.invisibleTable,
.invisibleTable td,
.invisibleTable th {
  border: 0;
  padding: 0.1rem 0;
}

.invisibleTable td input {
  border-width: 1px;
  border-style: solid;
  border-color: grey;
  border-radius: 2px;
}


/* SEPTEO THEME */
table.table {
  width: 100%;
  border-collapse: separate;
  border: 0;
  border-left: 5px solid #C0C3D0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

table.table thead th {
  border-top: 1px solid rgba(46, 56, 98, 0.10);
  border-bottom: 1px solid rgba(46, 56, 98, 0.10);
  background: #EAEBEF;
}
table.table tr:first-of-type th:last-child {
  border-top-right-radius: 5px;
  border-right: 1px solid rgba(46, 56, 98, 0.10);
}
table.table thead tr:last-of-type td {
  border-right: 1px solid rgba(46, 56, 98, 0.10);
  border-bottom: 1px solid rgba(46, 56, 98, 0.10);
}
table.table tr td:last-child {
  border-right: 1px solid rgba(46, 56, 98, 0.10);
}
table.table tr:last-child td {
  border-bottom: 1px solid rgba(46, 56, 98, 0.10);
}
table.table tr:last-of-type td:last-child {
  border-bottom-right-radius: 5px;
}
table.table tr:nth-child(even) {
  background: #EDEEF5;
}
table.table tr:nth-child(odd) {
  background: #FFF;
}

table.table thead th {
  color: #333;
  /* font-family: Inter; */
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  border-left: 0;
  border-right: 0;
  padding: 0.5rem 10px;
}

table.table tbody td {
  color: #111;
  /* font-family: Inter; */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-left: 0;
  border-right: 0;
  padding: 0.5rem 10px;
  border-bottom: 0;
}
