body,
input {
  margin: 0;
  font-family: 'Inter';
  font-weight: 400;
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

.noSelect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.clickable {
  cursor: pointer;
}

.disabledUI {
  opacity: 0.5;
  pointer-events: none;
  filter: grayscale(50%);
  transition: all 0.2s ease-in-out;
}

:root {
  /* override toastify theme, see https://fkhadra.github.io/react-toastify/how-to-style#override-css-variables */
  --toastify-color-progress-light: rgb(0, 136, 134);
}
