.rightPanel {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  border-radius: 8px 0 0 8px;
  border: 1px solid #EAEBEF;
  background: #FFF;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.10), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  margin: 0;
  animation: slideInFromRight 0.3s ease-out;
  display: flex;
  flex-direction: column;
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.rightPanel.closing {
  animation: slideOutToRight 0.3s ease-in forwards;
}

@keyframes slideOutToRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

.rightPanelContent {
  flex: 1;
  overflow: scroll;
}
.rightPanelClose {
  flex: 0;
  padding: 20px 24px;
  border-top: 1px solid #EAEBEF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.rightPanelClose button {
  width: 100%;
}
